*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;700&display=swap');

:root{
    --green-principal:#1F5014;
    --warm-grey:#ebf2fa;
    --cobalt-blue:#05668d;
    --cerulean-blue:#427aa1;
    --white:#ffffff;
    --black:#000000;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-size: 62.5%;
}
.container-box{
    padding: 20px 25px;
}

.header{
    background-color: var(--warm-grey);
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_container{
    width: 75px;
    height: auto;
}
.logo{
    width: 100%;
}
.menu{
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_list{
    display: flex;
    padding-right: 20px;
}
.menu_item{
    list-style: none;
    padding: 0 30px;
    display: flex;
    align-items: center;
}
.menu_item:nth-child(1){
    border-right: 1px solid var(--green-principal);
}
.menu_item:nth-child(2){
    border-right: 1px solid var(--green-principal);
}
.menu_anchor{
    font-size: 1rem;
    text-decoration: none;
    color: var(--green-principal);
}
.menu_anchor-hover:hover{
    text-decoration: underline;
}
.menu_item-cart{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green-principal);
    padding: 5px 10px;
    border-radius: 5px;
}
.menu_item-cart img{
    width: 20%;
    height: 25px;
}
.menu_anchor-cart{
    color: var(--warm-grey);
    text-decoration: none;
    font-size: 1rem;
}
/* Buscador */

.buscador_container{
    margin-top: 50px;
    text-align: center;
    padding-bottom: 60px;
}
.buscador{
    width: 380px;
    height: 45px;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.buscador img{
    width: 7%;
    padding-left: 10px;
}
.buscador_titulo{
    font-size: 2rem;
    margin: 0;
    padding-top: 40px;
    letter-spacing: 5px;
    font-weight: 400;
}
.buscador_form{
    margin-top: 60px;
    width: 100%;
    height: auto;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.buscador_input{
    width: 80%;
    height: 30px;
    border: none;
    background-color: transparent;
    font-size: .875rem;
    outline: none;
}
.submit{
    border: 1px solid black;
    height: 45px;
    width: 120px;
    border-radius: 30px;
    font-size: .875rem;
    cursor: pointer;
    background-color: var(--green-principal);
    color: var(--warm-grey);
}