<!--Formulario del Login-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPARADOS Login</title>
    <link rel="shortcut icon" href="/public/img/CLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/formstyle.css">
</head>
<body>
    <div class="formulario">
        <h1>Iniciar Sesión</h1>
        <form method="post">
            <div class="username">
                <label>Nombre de usuario</label>
                <input type="text" required>
            </div>
            <div class="contraseña">
                <label>Contraseña</label>
                <input type="password" required>
            </div>
            <div class="recordar">¿Olvidó su Contraseña?</div>
            <input type="submit" value="Iniciar">
            <div class="registrarse">
                Quiero hacer el <a href="#">registro</a>
            </div>
        </form>
    </div>
    
</body>
</html>