<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparados</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/styles1.css">
</head>
<body>
    <header>
        <div class="container-hero">
            <div class="container hero">
                <div class="customer-support">
                    <i class="fa-solid fa-headset"></i>
                    <div class="content-customer-support">
                        <span class="text">Soporte al cliente</span>
                        <span class="number">0424-909-8100</span>
                    </div>
                </div>
                <div class="container-logo">
                    <h1 class="logo">
                        <a href="./index.html">COMPARADOS</a>
                    </h1>
                </div>
                <div class="container-user">
                    <i class="fa-solid fa-user"></i>
                    <i class="fa-solid fa-basket-shopping"></i>
                    <div class="content-shopping-cart">
                        <span class="text">Carrito</span>
                        <span class="number">(0)</span>
                    </div>
    
                </div>
            </div>
        </div>
    
        <div class="container-navbar">
            <nav class="navbar container">
                <i class="fa-solid fa-bars"></i>
                <figure class="container-logo">
                    <a href="#">
                        <img class="logo" src="./src/img/CLogo.png" alt="Logo comparados">
                    </a>
                </figure>
                <ul class="menu">
                    
                    <li><a href="#">Categorías</a></li>
                    <li><a href="#">Favoritos</a></li>
                    <li><a href="./src/html/comparar.html">Comparador de Precios</a></li>
                    <li><a href="./src/html/form.html">Login</a></li>
                </ul>
    
                <form class="search-form">
                    <input type="search" placeholder="Buscar..." />
                    <button class="btn-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </nav>
        </div>
    </header>
</body>
</html>